# Population

## Setup

In [61]:
from matplotlib.colors import ListedColormap 
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
from lib import formatting as sd_formatting
import pyodbc 
import toml
import config_logging
import logging
import urllib.request
import pandas as pd
import colorcet as cc
import numpy as np

log = logging.getLogger(__name__)
external_ip = urllib.request.urlopen('https://ident.me').read().decode('utf8')

properties = toml.load("./.streamlit/secrets.toml")

database_props = properties[properties["database"]["flavour"]]

## Reload

In [3]:
### Set up

%load_ext autoreload
%autoreload 3

from data.daos import dao_facade_local as dao_fac
from lib import db_tools as db_tools
from lib import masters_data_analytics_lib as mlib
from lib import stats as stats

db_conn = None
db_conn = db_tools.get_db_conn(database_props)

2022-08-27 10:12:53,403 [DEBUG] matplotlib.pyplot: Loaded backend module://matplotlib_inline.backend_inline version unknown.
2022-08-27 10:12:53,407 [DEBUG] matplotlib.pyplot: Loaded backend module://matplotlib_inline.backend_inline version unknown.
2022-08-27 10:12:53,795 [INFO] lib.db_tools: DATABASE CONNECTIVITY

## Build the Data

In [42]:
year_from = 2011
year_to   = 2021
city      = "London"

borough   = "Islington"
ward_name = "Holloway"

## 27% Black African Carribean at Borough Level
borough   = "Lewisham"
ward_name = "Bellingham"

search_term = {"year_from":year_from,
               "year_to":year_to,
               "borough":borough,
               "ward_name":ward_name}


population_by_borough_ward_year_df = dao_fac.population_year(db_conn, search_term)

In [43]:
## BOROUGH WARD LEVEL

## PERCENTAGES MALE - FEMALE - STUDENT 
### make a copy so we can go back
pct_population_by_borough_ward_year_df = population_by_borough_ward_year_df[["YEAR", "BOROUGH", "WARD_NAME", "ALL", "MALE", "FEMALE", "STUDENT"]].copy()
pct_population_by_borough_ward_year_df["MALE"] = pct_population_by_borough_ward_year_df["MALE"]/pct_population_by_borough_ward_year_df["ALL"]
pct_population_by_borough_ward_year_df["FEMALE"] = pct_population_by_borough_ward_year_df["FEMALE"]/pct_population_by_borough_ward_year_df["ALL"]
pct_population_by_borough_ward_year_df["STUDENT"] = pct_population_by_borough_ward_year_df["STUDENT"]/pct_population_by_borough_ward_year_df["ALL"]

In [44]:
pct_population_by_borough_ward_year_df

,YEAR,BOROUGH,WARD_NAME,ALL,MALE,FEMALE,STUDENT
0,2011,City of London,St James's,320.0,0.612500,0.387500,0.015625
1,2011,City of London,Aldersgate,123.0,0.593496,0.406504,0.016260
2,2011,City of London,Aldersgate,194.0,0.536082,0.463918,0.030928
3,2011,City of London,Aldersgate,210.0,0.533333,0.466667,0.004762
4,2011,City of London,Aldersgate,216.0,0.597222,0.402778,0.023148
...,...,...,...,...,...,...,...
25600,2011,Westminster,West End,468.0,0.566239,0.433761,0.010684
25601,2011,Westminster,West End,569.0,0.472759,0.527241,0.001757
25602,2011,Westminster,Castle Baynard,320.0,0.612500,0.387500,0.015625
25603,2011,Westminster,Farringdon Within,320.0,0.612500,0.387500,0.015625
25604,2011,Westminster,Farringdon Without,320.0,0.612500,0.387500,0.015625

In [134]:
pph_population_by_borough_ward_year_df = population_by_borough_ward_year_df[["YEAR", "BOROUGH", "WARD_NAME", "DENSITY_PPH"]].copy()

In [151]:
pph_population_by_borough_ward_year_df.sort_values(by="DENSITY_PPH", ascending=False)


## Obtaing the 99% quantile, will be used to filter out any outliers when binning
q = pph_population_by_borough_ward_year_df["DENSITY_PPH"].quantile(.99)

2022-08-27 12:41:02,443 [DEBUG] __main__: 519.6
2022-08-27 12:41:02,443 [DEBUG] __main__: 0.2
2022-08-27 12:41:02,445 [DEBUG] __main__: 519.6

In [160]:
### There seem to be some extreme values in the ward level pph
### These will be removed when binning and if the value falls into that
### category then they will be in the highest bin

pph_population_by_borough_ward_year_df = population_by_borough_ward_year_df[["YEAR", "BOROUGH", "WARD_NAME", "DENSITY_PPH"]].copy()

min_borough_ward_density_pph = pph_population_by_borough_ward_year_df["DENSITY_PPH"].quantile(.01)
# max_borough_ward_density_pph = pph_population_by_borough_ward_year_df.max().values[3]
max_borough_ward_density_pph = pph_population_by_borough_ward_year_df["DENSITY_PPH"].quantile(.99)
cnt_borough_ward_density_pph = pph_population_by_borough_ward_year_df.shape[0]

log.debug(f"min_borough_ward_density_pph:{min_borough_ward_density_pph}")
log.debug(f"max_borough_ward_density_pph:{max_borough_ward_density_pph}")
log.debug(pph_population_by_borough_ward_year_df["DENSITY_PPH"].quantile(.01))




# log.debug(f"cnt_borough_ward_density_pph:{cnt_borough_ward_density_pph}")


log.debug((max_borough_ward_density_pph-min_borough_ward_density_pph)/len(pph_population_by_borough_ward_lbls)-1)
log.debug(max_borough_ward_density_pph-min_borough_ward_density_pph)


## Creat3 the labels and bin
pph_population_by_borough_ward_lbls = ["Scarcely Populated", "Slightly Populated", "Averagely Populated", "Highly Populated",  "Very Highly Populated"]
pph_population_by_borough_ward_bins = np.arange(0, max_borough_ward_density_pph-min_borough_ward_density_pph, (max_borough_ward_density_pph-min_borough_ward_density_pph)/len(pph_population_by_borough_ward_lbls)+1).tolist()
pph_population_by_borough_ward_bins.append(np.inf)
log.debug(pph_population_by_borough_ward_bins)

# log.debug(f"{(max_borough_ward_density_pph - min_borough_ward_density_pph)/len(pph_population_by_borough_ward_lbls)}")
# log.debug(f"pph_population_by_borough_ward_lbls:{pph_population_by_borough_ward_lbls}")
# log.debug(f"pph_population_by_borough_ward_bins:{pph_population_by_borough_ward_bins}")

pph_population_by_borough_ward_year_df['POPULATION_STATUS'] = pd.cut(pph_population_by_borough_ward_year_df["DENSITY_PPH"], bins=pph_population_by_borough_ward_bins, labels=pph_population_by_borough_ward_lbls)

2022-08-27 12:48:36,143 [DEBUG] __main__: min_borough_ward_density_pph:0.2
2022-08-27 12:48:36,144 [DEBUG] __main__: max_borough_ward_density_pph:519.6
2022-08-27 12:48:36,148 [DEBUG] __main__: 5.4
2022-08-27 12:48:36,150 [DEBUG] __main__: 102.88
2022-08-27 12:48:36,151 [DEBUG] __main__: 519.4
2022-08-27 12:48:36,152 [DEBUG] __main__: [0.0, 104.88, 209.76, 314.64, 419.52, inf]

In [159]:
pph_population_by_borough_ward_year_df

,YEAR,BOROUGH,WARD_NAME,DENSITY_PPH,POPULATION_STATUS
0,2011,City of London,St James's,13.4,Scarcely Populated
1,2011,City of London,Aldersgate,16.7,Scarcely Populated
2,2011,City of London,Aldersgate,289.6,Averagely Populated
3,2011,City of London,Aldersgate,91.7,Scarcely Populated
4,2011,City of London,Aldersgate,216.0,Averagely Populated
...,...,...,...,...,...
25600,2011,Westminster,West End,67.1,Scarcely Populated
25601,2011,Westminster,West End,342.8,Highly Populated
25602,2011,Westminster,Castle Baynard,13.4,Scarcely Populated
25603,2011,Westminster,Farringdon Within,13.4,Scarcely Populated
25604,2011,Westminster,Farringdon Without,13.4,Scarcely Populated

In [114]:
## BOROUGH LEVEL
population_by_borough_year_df = population_by_borough_ward_year_df.groupby(["YEAR", "BOROUGH"], as_index=False)\
                                                                  .agg({"ALL":"sum", "MALE":"sum", "FEMALE":"sum", "STUDENT":"sum", "DENSITY_PPH":"mean" })

## PERCENTAGES MALE - FEMALE - STUDENT 
### make a copy so we can go back
pct_population_by_borough_year_df = population_by_borough_year_df[["YEAR", "BOROUGH", "ALL", "MALE", "FEMALE", "STUDENT"]].copy()
pct_population_by_borough_year_df["MALE"] = pct_population_by_borough_year_df["MALE"]/pct_population_by_borough_year_df["ALL"].astype(float)
pct_population_by_borough_year_df["FEMALE"] = pct_population_by_borough_year_df["FEMALE"]/pct_population_by_borough_year_df["ALL"].astype(float)
pct_population_by_borough_year_df["STUDENT"] = pct_population_by_borough_year_df["STUDENT"]/pct_population_by_borough_year_df["ALL"].astype(float)

In [129]:
pph_population_by_borough_year_df = population_by_borough_year_df[["YEAR", "BOROUGH", "DENSITY_PPH"]].copy()
pph_population_by_borough_year_df["DENSITY_PPH"] = pph_population_by_borough_year_df["DENSITY_PPH"].astype(float)

min_borough_density_pph = pph_population_by_borough_year_df.min().values[2]
max_borough_density_pph = pph_population_by_borough_year_df.max().values[2]
cnt_borough_density_pph = pph_population_by_borough_year_df.shape[0]

log.debug(f"min_borough_density_pph:{min_borough_density_pph}")
log.debug(f"max_borough_density_pph:{max_borough_density_pph}")
log.debug(f"cnt_borough_density_pph:{cnt_borough_density_pph}")

## Create the labels and bin
pph_population_by_borough_lbls = ["Scarcely Populated", "Slightly Populated", "Averagely Populated", "Highly Populated",  "Very Highly Populated"]
pph_population_by_borough_bins = np.arange((max_borough_density_pph-min_borough_density_pph)/len(pph_population_by_borough_lbls)-1, max_borough_density_pph-min_borough_density_pph, (max_borough_density_pph-min_borough_density_pph)/len(pph_population_by_borough_lbls)-1).tolist()
pph_population_by_borough_bins.append(np.inf)

# log.debug(pph_population_by_borough_bins)
# log.debug(f"{(max_borough_density_pph - min_borough_density_pph)/len(pph_population_by_borough_lbls)}")
# log.debug(f"pph_population_by_borough_lbls:{pph_population_by_borough_lbls}")
# log.debug(f"pph_population_by_borough_bins:{pph_population_by_borough_bins}")

pph_population_by_borough_year_df['POPULATION_STATUS'] = pd.cut(pph_population_by_borough_year_df["DENSITY_PPH"], bins=pph_population_by_borough_bins, labels=pph_population_by_borough_lbls)

2022-08-27 12:11:01,241 [DEBUG] __main__: min_borough_density_pph:55.404897159647405
2022-08-27 12:11:01,242 [DEBUG] __main__: max_borough_density_pph:231.2698992443325
2022-08-27 12:11:01,243 [DEBUG] __main__: cnt_borough_density_pph:33
2022-08-27 12:11:01,245 [DEBUG] __main__: [34.17300041693702, 68.34600083387404, 102.51900125081107, 136.6920016677481, 170.8650020846851, inf]

In [131]:
pph_population_by_borough_year_df.sort_values(by=["BOROUGH"], ascending=True)
pph_population_by_borough_year_df

    YEAR                 BOROUGH  DENSITY_PPH      POPULATION_STATUS
0   2011    Barking and Dagenham   101.165045     Slightly Populated
1   2011                  Barnet    79.077992     Slightly Populated
2   2011                  Bexley    64.341479     Scarcely Populated
3   2011                   Brent   116.758463    Averagely Populated
4   2011                 Bromley    55.404897     Scarcely Populated
5   2011                  Camden   195.340637  Very Highly Populated
6   2011          City of London    90.414286     Slightly Populated
7   2011                 Croydon    79.845640     Slightly Populated
8   2011                  Ealing    98.507083     Slightly Populated
9   2011                 Enfield    94.023432     Slightly Populated
10  2011               Greenwich   106.590000    Averagely Populated
11  2011                 Hackney   182.913174  Very Highly Populated
12  2011  Hammersmith and Fulham   197.634450  Very Highly Populated
13  2011                Haringey   133.045921    Averagely Populated
14  2011                  Harrow    74.912908     Slightly Populated
15  2011                Havering    55.780371     Scarcely Populated
16  2011              Hillingdon    58.871610     Scarcely Populated
17  2011                Hounslow    93.810460     Slightly Populated
18  2011               Islington   176.308309  Very Highly Populated
19  2011  Kensington and Chelsea   227.889072  Very Highly Populated
20  2011    Kingston upon Thames    77.012800     Slightly Populated
21  2011                 Lambeth   155.224714       Highly Populated
22  2011                Lewisham   107.734456    Averagely Populated
23  2011                  Merton    94.079782     Slightly Populated
24  2011                  Newham   170.386774       Highly Populated
25  2011               Redbridge    92.969286     Slightly Populated
26  2011    Richmond upon Thames    74.785203     Slightly Populated
27  2011               Southwark   171.551387  Very Highly Populated
28  2011                  Sutton    73.153312     Slightly Populated
29  2011           Tower Hamlets   217.591147  Very Highly Populated
30  2011          Waltham Forest   119.643810    Averagely Populated
31  2011              Wandsworth   150.236558       Highly Populated
32  2011             Westminster   231.269899  Very Highly Populated

In [ ]:
ranking_df = df[["WARD_NAME", "BOROUGH", column]]
ranking_df_stats_ward = ranking_df.groupby(["BOROUGH", "WARD_NAME"]).agg(total=pd.NamedAgg(column=column, aggfunc="sum"))

## Don't use the column as an index
ranking_df_stats_borough = ranking_df.groupby(["BOROUGH"], as_index=False).agg(total=pd.NamedAgg(column=column, aggfunc="sum"))
ranking_df_stats_borough["rank"] = ranking_df_stats_borough["total"].rank(method="max", ascending=False)
ranking_df_stats_borough = ranking_df_stats_borough.sort_values(by=["rank"], ascending=True)

### Search Critera & DAO Access to get all required data

In [ ]:
year_from = 2011
year_to   = 2021
city      = "London"

borough   = "Islington"
ward_name = "Holloway"

## 27% Black African Carribean at Borough Level
borough   = "Lewisham"
ward_name = "Bellingham"



# borough   = "Westminster"    # Highest
# borough   = "Brent"          # Middle
# borough   = "City of London" # Lowest

## We may not have data in the date range we have chosen
## this is true for ALL so fix it Neal

ethnicity_year_from = year_from
ethnicity_year_to   = year_to

# What do we have? We are only using the max for now
ethnicity_min_max_year_df = dao_fac.ethnicity_min_max_year(db_conn)

ethnicity_year_min = ethnicity_min_max_year_df["MIN_YEAR"].values[0]
ethnicity_year_max = ethnicity_min_max_year_df["MAX_YEAR"].values[0]

ethnicity_year_from_orig = ethnicity_year_from
ethnicity_year_to_orig = ethnicity_year_to

if ethnicity_year_from < int(ethnicity_year_min):
    ethnicity_year_from = int(ethnicity_year_min)
elif ethnicity_year_from > int(ethnicity_year_max):
    ethnicity_year_from = int(ethnicity_year_max)

if ethnicity_year_to > int(ethnicity_year_max):
    ethnicity_year_to = int(ethnicity_year_max)
elif ethnicity_year_to < int(ethnicity_year_min):
    ethnicity_year_to = int(ethnicity_year_min)

log.debug(f"ethnicity orig_year_to    :{ethnicity_year_to_orig}")
log.debug(f"ethnicity search_year_to  :{ethnicity_year_to}")

search_term = {"year_from":ethnicity_year_from,
               "year_to":ethnicity_year_to,
               "borough":borough,
               "ward_name":ward_name}

## City
ethnicity_average_year_df = dao_fac.ethnicity_ratio_average_years(db_conn, search_term)
## Borough
ethnicity_by_borough_year_df = dao_fac.ethnicity_ratio_by_borough_years(db_conn, search_term)
## Ward
ethnicity_by_borough_ward_year_df = dao_fac.ethnicity_ratio_by_borough_ward_years(db_conn, search_term)

In [ ]:
## Ethnicity Search Range Narrative
ethnicity_narrative_01 = ""
ethnicity_in_not_in = "in" if ((ethnicity_year_to >= ethnicity_year_from_orig) &
                               (ethnicity_year_to <= ethnicity_year_to)) else "outside"

ethnicity_search_range = f"of {ethnicity_year_from_orig} to {ethnicity_year_to_orig}" if ethnicity_year_from_orig != ethnicity_year_to_orig else f"{ethnicity_year_to_orig}"
ethnicity_narrative_search_criters = f"Using the latest ethnicity data from {ethnicity_year_to} which is {ethnicity_in_not_in} your search range {ethnicity_search_range}"

ethnicity_narrative_01 = f"{ethnicity_narrative_search_criters}. The table below ranks ethnicity in {ward_name}, {borough} and {city}. " + \
"The ranking is highest to lowest percentage from top to bottom. Where there is a difference in ethnicity the cell is shaded, a darker " + \
"shade denotes a difference between borough and ward. Values in [] give the percentage value." 

log.debug(f"\n{ethnicity_narrative_01}")

#### Build the data and ranking table for ward, borough and city

In [ ]:
## Borough & Ward
ethnicity_borough_ward_for_year = ethnicity_by_borough_ward_year_df.copy()
ethnicity_borough_ward_for_year = ethnicity_borough_ward_for_year.drop(["YEAR", "LAD", "LAD_NAME", "WARD_CODE", "WARD_NAME"], axis=1)
ethnicity_borough_ward_for_year = ethnicity_borough_ward_for_year.T.copy()
ethnicity_borough_ward_for_year.columns = ["PCT"]
ethnicity_borough_ward_for_year = ethnicity_borough_ward_for_year.sort_values(by=["PCT"], ascending=False)

## Borough
ethnicity_borough_for_year = ethnicity_by_borough_year_df[ethnicity_by_borough_year_df["LAD_NAME"] == borough].copy()
ethnicity_borough_for_year = ethnicity_borough_for_year.drop(["YEAR", "LAD", "LAD_NAME"], axis=1)
ethnicity_borough_for_year = ethnicity_borough_for_year.T.copy()
ethnicity_borough_for_year.columns = ["PCT"]
ethnicity_borough_for_year = ethnicity_borough_for_year.sort_values(by=["PCT"], ascending=False)

## City
ethnicity_city_for_year = ethnicity_average_year_df.copy()
ethnicity_city_for_year
ethnicity_city_for_year = ethnicity_city_for_year.drop(["YEAR"], axis=1)
ethnicity_city_for_year = ethnicity_city_for_year.T.copy()
ethnicity_city_for_year.columns = ["PCT"]
ethnicity_city_for_year = ethnicity_city_for_year.sort_values(by=["PCT"], ascending=False)

## Borough Ward
ethnicity_ward_pct_sorted = []
for index, row in ethnicity_borough_ward_for_year.iterrows():
    ethnicity     = index
    ethncity_pct = row.values[0]*100
    ethnicity_name_pct_fmt = "{} - [{:,.2f}%]".format(ethnicity, ethncity_pct)
    ethnicity_ward_pct_sorted.append(ethnicity_name_pct_fmt)

## Borough
ethnicity_borough_pct_sorted = []
for index, row in ethnicity_borough_for_year.iterrows():
    ethnicity     = index
    ethncity_pct = row.values[0]*100
    ethnicity_name_pct_fmt = "{} - [{:,.2f}%]".format(ethnicity, ethncity_pct)
    ethnicity_borough_pct_sorted.append(ethnicity_name_pct_fmt)

## City
ethnicity_city_pct_sorted = []
for index, row in     ethnicity_city_for_year.iterrows():
    ethnicity     = index
    ethncity_pct = row.values[0]*100
    ethnicity_name_pct_fmt = "{} - [{:,.2f}%]".format(ethnicity, ethncity_pct)
    ethnicity_city_pct_sorted.append(ethnicity_name_pct_fmt)

ethnicity_ward_borough_city_pct_ranked_merged = [ethnicity_ward_pct_sorted, ethnicity_borough_pct_sorted, ethnicity_city_pct_sorted]
ethnicity_ward_borough_city_pct_ranked_merged_df = pd.DataFrame(data=ethnicity_ward_borough_city_pct_ranked_merged)

## Rotate 
ethnicity_ward_borough_city_pct_ranked_merged_df = ethnicity_ward_borough_city_pct_ranked_merged_df.T
ethnicity_ward_borough_city_pct_ranked_merged_df.columns = [f"{ward_name}",f"{borough}",f"{city}"]
ethnicity_ward_borough_city_pct_ranked_merged_df.index   = [str(rank) for rank in range(1, len(ethnicity_ward_borough_city_pct_ranked_merged_df.index)+1)]

ethnicity_ward_borough_city_pct_ranked_merged_df

## Build the Ethnicity table with formatting

In [ ]:
colour_change = []
## 0 == no change in that cell
## 1 == shade 1 change
## 2 == shade 2 change

for index, row in ethnicity_ward_borough_city_pct_ranked_merged_df.iterrows():
    colour_change_row =[]
    
    ## Borough to City Check
    ward_val    = row.iloc[0].split(' - [')[0].strip()
    borough_val = row.iloc[1].split(' - [')[0].strip()
    city_val    = row.iloc[2].split(' - [')[0].strip()
    # log.debug(f"{ward_val}-{borough_val}-{city_val}")

    ward_val_cell_col = 0 if ward_val     == city_val else 1 if ward_val == borough_val else 2
    borough_val_col   = 0 if borough_val  == city_val else 1
    cityl_col         = 0
    
    colour_change_row.append(ward_val_cell_col)
    colour_change_row.append(borough_val_col)
    colour_change_row.append(cityl_col)
    colour_change.append(colour_change_row)

def format_ranking_row(row):
    ## Borough to City Check
    ward_val    = row.iloc[0].split(' - [')[0].strip()
    borough_val = row.iloc[1].split(' - [')[0].strip()
    city_val    = row.iloc[2].split(' - [')[0].strip()
    # log.debug(f"{ward_val}-{borough_val}-{city_val}")

    ward_val_cell_col = "" if ward_val     == city_val else "background-color: #EAFAF1" if ward_val == borough_val else "background-color: #D5F5E3"
    borough_val_col   = "" if borough_val  == city_val else "background-color: #EAFAF1"
    # log.debug(r[1])
    return [ward_val_cell_col] + [borough_val_col] + [""]


from IPython.display import HTML
styles = [
  dict(selector="tr", props=[("font-size", "110%"),
                             ("text-align", "right")])
]

ethnicity_ward_borough_city_pct_ranked_merged_df_html = (ethnicity_ward_borough_city_pct_ranked_merged_df.style.set_table_styles(styles).apply(format_ranking_row, axis=1))

In [ ]:
ethnicity_ward_borough_city_pct_ranked_merged_df_html

In [ ]:
ethnicity_borough_ward_for_year_name_sorted = ethnicity_borough_ward_for_year.sort_index(ascending=True)
ethnicity_borough_for_year_name_sorted      = ethnicity_borough_for_year.sort_index(ascending=True)
ethnciity_city_for_year_name_sorted         = ethnicity_city_for_year.sort_index(ascending=True)


## Borough Ward
ethnicity_ward_name_sorted = []
for index, row in ethnicity_borough_ward_for_year_name_sorted.iterrows():
    ethnciity_pct = row.values[0]*100
    ethnicity_pct_fmt = "{:,.2f}%".format(ethnciity_pct)
    ethnicity_ward_name_sorted.append(ethnicity_pct_fmt)

## Borough
ethnicity_borough_name_sorted = []
for index, row in ethnicity_borough_for_year_name_sorted.iterrows():
    ethnciity_pct = row.values[0]*100
    ethnicity_pct_fmt = "{:,.2f}%".format(ethnciity_pct)
    ethnicity_borough_name_sorted.append(ethnicity_pct_fmt)

## City
ethnicity_city_name_sorted = []
for index, row in ethnciity_city_for_year_name_sorted.iterrows():
    ethnicity_pct = row.values[0]*100
    ethnicity_pct_fmt = "{:,.2f}%".format(ethnicity_pct)
    ethnicity_city_name_sorted.append(ethnicity_pct_fmt)

ethnicity_ward_borough_city_pct_name_merged = [ethnicity_ward_name_sorted, ethnicity_borough_name_sorted, ethnicity_city_name_sorted]
ethnicity_ward_borough_city_pct_name_merged_df = pd.DataFrame(data=ethnicity_ward_borough_city_pct_name_merged)

## Rotate 
ethnicity_ward_borough_city_pct_name_merged_df = ethnicity_ward_borough_city_pct_name_merged_df.T
ethnicity_ward_borough_city_pct_name_merged_df.columns = [f"{ward_name}",f"{borough}",f"{city}"]
ethnicity_ward_borough_city_pct_name_merged_df.index   = ethnicity_borough_ward_for_year_name_sorted.index

ethnicity_ward_borough_city_pct_name_merged_df

In [ ]:
def format_pct_row(row):
    ## Borough to City Check
    ward_val    = float(row.iloc[0].split("%")[0].strip())
    borough_val = float(row.iloc[1].split("%")[0].strip())
    city_val    = float(row.iloc[2].split("%")[0].strip())
    
    ward_val_cell_col = ""                          if abs(city_val - ward_val) <  5.0 else \
                        "background-color: #EAFAF1" if abs(city_val - ward_val) < 10.0 else \
                        "background-color: #D5F5E3" if abs(city_val - ward_val) < 15.0 else \
                        "background-color: #ABEBC6" if abs(city_val - ward_val) < 20.0 else \
                        "background-color: #82E0AA"
    
    borough_val_col   = ""                          if abs(city_val - borough_val) <  5.0 else \
                        "background-color: #EAFAF1" if abs(city_val - borough_val) < 10.0 else \
                        "background-color: #D5F5E3" if abs(city_val - borough_val) < 15.0 else \
                        "background-color: #ABEBC6" if abs(city_val - borough_val) < 20.0 else \
                        "background-color: #82E0AA"
    
    return [ward_val_cell_col] + [borough_val_col] + [""]


from IPython.display import HTML
styles = [
  dict(selector="tr", props=[("font-size", "110%"),
                             ("text-align", "right")])
]

ethnicity_ward_borough_city_pct_name_merged_df_html = (ethnicity_ward_borough_city_pct_name_merged_df.style.set_table_styles(styles).apply(format_pct_row, axis=1))

In [ ]:
ethnicity_narrative_02 = f"The table below shows the percentage levels of ethnicity in {ward_name}, {borough} and {city} in {ethnicity_year_to}." + \
" The order of ethnicity is alphabetical. Value shading indicates a difference from the city level from 5 to 20 percent in 5 percent intervals." + \
" The shade darkens with an increase in difference. Indication of the direction of the difference is intentionally not made."

log.debug(f"\n{ethnicity_narrative_02}")

In [ ]:
ethnicity_ward_borough_city_pct_name_merged_df_html

# REPORT PAGE

In [ ]:
print(ethnicity_narrative_01)

In [ ]:
ethnicity_ward_borough_city_pct_ranked_merged_df_html

In [ ]:
print(ethnicity_narrative_02)

In [ ]:
ethnicity_ward_borough_city_pct_name_merged_df_html

# REPORT GENERATION

## ARTEFACTS

In [ ]:
### Set up
%load_ext autoreload

%autoreload 3
from data.daos import dao_facade_local as dao_fac
from lib import masters_data_analytics_lib as mlib
from managers.sections import sd_report_section_03_Ethnicity as report_section_ethnicity

session_id = "SECTION_TEST_03_ETHNICITY"
report_context = {}
search_term = {
    "city"      : city
  , "borough"   : borough
  , "ward_name" : ward_name
  , "year_to"   : year_to
  , "year_from" : year_from
}

report_section_ethnicity.generate_report_section(session_id     = session_id
                      , search_term    = search_term
                      , report_context = report_context
                      , properties     = properties 
                      , dao_fac        = dao_fac)  

# log.debug(report_context)

## REPORT

In [ ]:
%load_ext autoreload

%autoreload 3

from managers import sd_report_manager_new as report_man

report_context_new = {"template_processor_file_name":"./reports/processors/sd_test_generation_03_ethnicity.json",
                      "report_option":1} 

report_context.update(report_context_new)

log.debug("Started")
generated_report = report_man.generate_report(session_id
                                            , report_context = report_context
                                            , properties = properties)
log.debug("Finished")